<html>
<body>
{% block body %}
    <ul>
        <li>
            <a href="{{ path('dashboard') }}">Dashboard</a>
        </li>
        <li>
            <a href="{{ path('documents_upload') }}">Upload</a>
        </li>
        <li>
            <a href="{{ path('documents') }}">Documents</a>
        </li>
        <li>
            <a href="{{ path('documents_bill', {'document' : 'reference'}) }}">Document</a>
        </li>
        <li>
            <a href="{{ path('documents_invoice', {'document' : 'reference'}) }}">Document</a>
        </li>
    </ul>
{% endblock %}
</body>
</html>